.Logo {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-self: center;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}


@media only screen and (min-width: 1024px) {
  .Logo h1 {
    margin: auto 0 auto 10%;
  }
}
