.Content {
  background: #101c69;
  width: 95%;
  min-height: 90vh;
  margin: 0 auto 0 auto;
  border: 5px solid rgba(255, 255, 255, 0.05);
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
  padding: 70px 1% 20px 1%;
}

.Content p {
  margin: 0 5px;
}

.Content h1 {
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .Content {
    width: 75%;
  }
}
