.NavItems {
  display: flex;
  flex-flow: column;
  align-content: center;
  margin-top: 10px;
}

.Headline {
  background: #030933;
  top: 0;
  height: 70px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.Headline h1 {
  margin: auto;
  font-size: 2.5rem;
}

@media only screen and (min-width: 1024px) {
  .NavItems {
    flex-flow: row;
    align-content: flex-start;
  }
}
