.MobileMenuBtn {
  position: fixed;
  bottom: 2.5%;
  right: 5%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.65);
  z-index: 200;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.MobileMenuBtn div {
  border-radius: 25%;
  width: 90%;
  height: 15%;
  background-color: #4b688b;
  z-index: 200;
  margin: auto;
  opacity: 0.7;
}
